In [7]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: C:\Users\marcb\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd

# Specify the input and output file paths
input_file = 'energy_Ampfing.xlsx'
output_file = 'energy_Ampfing.csv'

In [9]:
# Load the Excel file into a Pandas dataframe
df = pd.read_excel(input_file)

In [11]:
# Write the dataframe to a CSV file
df.to_csv(output_file, index=False)

In [12]:
df

,SourceName,Hackaton_Werkeingang_Ampfing,Unnamed: 2,Unnamed: 3
0,DPName,DE_Ampfing_Suetag_ELEG_FOR,DE_Ampfing_Suetag_WAEF_FOR,DE_Ampfing_Suetag_WASG_FOR
1,Actual Source name,DE_Ampfing_Suetag_ELEG_FOR,DE_Ampfing_Suetag_WAEF_FOR,DE_Ampfing_Suetag_WASG_FOR
2,Location,DE_Ampfing Sütag,DE_Ampfing Sütag,DE_Ampfing Sütag
3,Description,Active energy plant input,Total external heat energy,Water supply at plant entrance
4,Unit,kW,kW,m3/h
...,...,...,...,...
120861,2023-03-15 23:00:00,812.64,NaN,NaN
120862,2023-03-15 23:15:00,915.52,NaN,NaN
120863,2023-03-15 23:30:00,861.92,NaN,NaN
120864,2023-03-15 23:45:00,1064.32,NaN,NaN
120865,2023-03-16 00:00:00,1125.92,NaN,NaN

In [13]:
input_file = 'energy_Feldhof.xlsx'
output_file = 'energy_Feldhof.csv'

# Load the Excel file into a Pandas dataframe
df2 = pd.read_excel(input_file)
# Write the dataframe to a CSV file
df2.to_csv(output_file, index=False)

print(df2)

                 SourceName Hackaton_Werkeingang_Feldhof  \
0                    DPName     CH_Daellikon_EB_ELEG_FOR
1        Actual Source name     CH_Daellikon_EB_ELEG_FOR
2                  Location          CH_Dällikon Feldhof
3               Description    Active energy plant input
4                      Unit                           kW
...                     ...                          ...
154037  2023-03-16 01:45:00                          NaN
154038  2023-03-16 02:00:00                          NaN
154039  2023-03-16 02:15:00                          NaN
154040  2023-03-16 02:30:00                          NaN
154041  2023-03-16 02:45:00                          NaN

                      Unnamed: 2                  Unnamed: 3  \
0       CH_Daellikon_EB_WAEA_FOR    CH_Daellikon_EB_WAEF_FOR
1       CH_Daellikon_EB_WAEA_FOR    CH_Daellikon_EB_WAEF_FOR
2            CH_Dällikon Feldhof         CH_Dällikon Feldhof
3        Total waste heat energy  Total external heat energy
4                             kW                          kW
...                          ...                         ...
154037                         0                   43.889012
154038                         0                   99.889012
154039                         0                   76.110988
154040                         0                 -223.711432
154041                         0                 -100.288568

                            Unnamed: 4
0             CH_Daellikon_EB_WASG_FOR
1             CH_Daellikon_EB_WASG_FOR
2                  CH_Dällikon Feldhof
3       Water supply at plant entrance
4                                 m3/h
...                                ...
154037                       23.825526
154038                             NaN
154039                             NaN
154040                             NaN
154041                             NaN

[154042 rows x 5 columns]

In [14]:
input_file = 'energy_Orbe.xlsx'
output_file = 'energy_Orbe.csv'

# Load the Excel file into a Pandas dataframe
df3 = pd.read_excel(input_file)
# Write the dataframe to a CSV file
df3.to_csv(output_file, index=False)

print(df3)

                SourceName  Hackaton_Werkeingang_Orbe  \
0                   DPName           CH_Orbe_ELEG_FOR
1       Actual Source name           CH_Orbe_ELEG_FOR
2                 Location                    CH_Orbe
3              Description  Active energy plant input
4                     Unit                         kW
...                    ...                        ...
94768  2023-03-20 02:00:00                        NaN
94769  2023-03-20 02:15:00                        NaN
94770  2023-03-20 02:30:00                        NaN
94771  2023-03-20 02:45:00                        NaN
94772  2023-03-20 03:00:00                        NaN

                       Unnamed: 2                      Unnamed: 3
0                CH_Orbe_WAEF_FOR                CH_Orbe_WASG_FOR
1                CH_Orbe_WAEF_FOR                CH_Orbe_WASG_FOR
2                         CH_Orbe                         CH_Orbe
3      Total external heat energy  Water supply at plant entrance
4                              kW                            m3/h
...                           ...                             ...
94768                           0                        0.004444
94769                           0                               0
94770                           0                        3.995556
94771                           0                        0.004444
94772                           0                               0

[94773 rows x 4 columns]

In [15]:
input_file = 'energy_Schiltach.xlsx'
output_file = 'energy_Schiltach.csv'

# Load the Excel file into a Pandas dataframe
df4 = pd.read_excel(input_file)
# Write the dataframe to a CSV file
df4.to_csv(output_file, index=False)

print(df4)

                 SourceName Hackaton_Werkeingang_Schiltach  \
0                    DPName          DE_Schiltach_ELEG_FOR
1        Actual Source name          DE_Schiltach_ELEG_FOR
2                  Location                   DE_Schiltach
3               Description      Active energy plant input
4                      Unit                             kW
...                     ...                            ...
199341  2023-03-20 01:45:00                     320.000806
199342  2023-03-20 02:00:00                     304.833792
199343  2023-03-20 02:15:00                     329.944016
199344  2023-03-20 02:30:00                     292.483569
199345  2023-03-20 02:45:00                     290.404458

                        Unnamed: 2                      Unnamed: 3
0            DE_Schiltach_WAEF_FOR           DE_Schiltach_WASG_FOR
1            DE_Schiltach_WAEF_FOR           DE_Schiltach_WASG_FOR
2                     DE_Schiltach                    DE_Schiltach
3       Total external heat energy  Water supply at plant entrance
4                               kW                            m3/h
...                            ...                             ...
199341                  225.506682                        0.024071
199342                         225                        0.039858
199343                       269.5                        0.087573
199344                         270                        0.028533
199345                       314.5                           0.028

[199346 rows x 4 columns]

In [16]:
input_file = 'energy_zell.xlsx'
output_file = 'energy_zell.csv'

# Load the Excel file into a Pandas dataframe
df5 = pd.read_excel(input_file)
# Write the dataframe to a CSV file
df5.to_csv(output_file, index=False)

print(df5)

                 SourceName   Hackaton_Werkeingang_Zell  \
0                    DPName  CH_Zell_Gefluegel_ELEG_FOR
1        Actual Source name  CH_Zell_Gefluegel_ELEG_FOR
2                  Location            CH_Zell Geflügel
3               Description   Active energy plant input
4                      Unit                          kW
...                     ...                         ...
180861  2023-03-15 23:00:00                         NaN
180862  2023-03-15 23:15:00                         NaN
180863  2023-03-15 23:30:00                         NaN
180864  2023-03-15 23:45:00                         NaN
180865  2023-03-16 00:00:00                         NaN

                        Unnamed: 2                       Unnamed: 3  \
0       CH_Zell_Gefluegel_WAEA_FOR       CH_Zell_Gefluegel_WAEF_FOR
1       CH_Zell_Gefluegel_WAEA_FOR  CH_Zell_Gefluegel_WAEF_FOR_TEST
2                 CH_Zell Geflügel                 CH_Zell Geflügel
3          Total waste heat energy       Total external heat energy
4                               kW                               kW
...                            ...                              ...
180861                         NaN                              NaN
180862                         NaN                              NaN
180863                         NaN                              NaN
180864                         NaN                              NaN
180865                         NaN                              NaN

                            Unnamed: 4
0           CH_Zell_Gefluegel_WASG_FOR
1           CH_Zell_Gefluegel_WASG_FOR
2                     CH_Zell Geflügel
3       Water supply at plant entrance
4                                 m3/h
...                                ...
180861                             NaN
180862                             NaN
180863                             NaN
180864                             NaN
180865                             NaN

[180866 rows x 5 columns]

In [17]:
df5

,SourceName,Hackaton_Werkeingang_Zell,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,DPName,CH_Zell_Gefluegel_ELEG_FOR,CH_Zell_Gefluegel_WAEA_FOR,CH_Zell_Gefluegel_WAEF_FOR,CH_Zell_Gefluegel_WASG_FOR
1,Actual Source name,CH_Zell_Gefluegel_ELEG_FOR,CH_Zell_Gefluegel_WAEA_FOR,CH_Zell_Gefluegel_WAEF_FOR_TEST,CH_Zell_Gefluegel_WASG_FOR
2,Location,CH_Zell Geflügel,CH_Zell Geflügel,CH_Zell Geflügel,CH_Zell Geflügel
3,Description,Active energy plant input,Total waste heat energy,Total external heat energy,Water supply at plant entrance
4,Unit,kW,kW,kW,m3/h
...,...,...,...,...,...
180861,2023-03-15 23:00:00,NaN,NaN,NaN,NaN
180862,2023-03-15 23:15:00,NaN,NaN,NaN,NaN
180863,2023-03-15 23:30:00,NaN,NaN,NaN,NaN
180864,2023-03-15 23:45:00,NaN,NaN,NaN,NaN
180865,2023-03-16 00:00:00,NaN,NaN,NaN,NaN